# Logs
*.log
logs/
yarn.lock
package-lock.json

# Dependency directories
node_modules/
jspm_packages/
dist-server/


# dotenv environment variables file
.env

# Visual Studio Code
.vscode

# Build directory
dist
