APP_HOST=localhost
APP_PORT=8000
TEST_APP_PORT=8001

# Log
LOGGING_DIR=logs
LOGGING_LEVEL=debug

# Auth
SECRET_KEY=4C31F7EFD6857D91E729165510520424

# Database
DB_HOST=mongodb://localhost/real_estate_crm
DB_PORT=27017
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=crm

# Test Database
TEST_DB_HOST=localhost
TEST_DB_PORT=3306
TEST_DB_USERNAME=root
TEST_DB_PASSWORD=root
TEST_DB_NAME=crm_test

SIGNALWIRE_SPACE=pmrnyc.signalwire.com
SIGNALWIRE_PROJECT_ID=b8c3b83b-a163-4deb-a3d7-6b54c4efa79d
SIGNALWIRE_TOKEN=PTc88d0f0b4ea900568ea97943da98f6db4a624ad9e3c857af
SIGNALWIRE_MESSAGING_NUMBER=+18445676050