.prospect-create {
  margin: 30px auto 10px auto;
  padding: 20px;
  max-width: 600px;
  background-color: white;
  border-color: rgb(229, 231, 236);
  border-radius: 4px;
  .create-button {
    background-color: #084e8a;
    color: white;
  }
}
