.cursor-point {
  cursor: pointer;
}

.indicator {
  position: absolute;
  top: 0px;
  right: 3px;
  width: 18px;
  height: 18px;
  background-color: rgb(255, 0, 0);
  font-size: 0.5625rem;
  font-weight: 400;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transform: translate(25%, -25%);
  border-radius: 50%;
}
